<p id="notice"><%= notice %></p>

<p>
  <b>Language:</b>
  <%= @rule.language %>
</p>

<p>
  <b>Keyword:</b>
  <%= @rule.expression %>
</p>

<p>
  <b>Description:</b>
  <%= @rule.description %>
</p>


<%= link_to 'Edit', edit_rule_path(@rule) %> |
<%= link_to 'Back', rules_path %>
