<p id="notice"><%= notice %></p>

<p>
  <b>Keyword:</b>
  <%= @rule.expression %>
</p>

<p>
  <b>Description:</b>
  <%= @rule.description %>
</p>


<p>
  <b>Businessnote:</b>
  <%= @rule.businessnote %>
</p>


<p>
  <b>Technicalnote:</b>
  <%= @rule.technicalnote %>
</p>


<%= link_to 'Edit', edit_rule_path(@rule) %> |
<%= link_to 'Back', rules_path %>
